root {
  --primary-color: #007BFF;
  --secondary-color: #10da13;
  --background-color: #ccdbf3;
  --form-background-color: #ffffff;
  --text-color: #000;
  --shadow-color: #000;
}

.toolbar-row {
  display: flex;
  align-items: center;
  position: relative;
  left: 0;
  background-color: var(--primary-color); /* Set background color for the toolbar */
  color: #fff; /* Set text color for the toolbar */
  padding: 10px; /* Adjust padding as needed */
}

.spacer {
  flex: 1 1 auto;
}

.sidenav {
  background-color: var(--background-color);
  width: 250px;
  position: fixed;
  left: 0;
  top: 70px;
  bottom: 0;
  overflow: auto;
  padding: 20px;
}

.sidenav-button {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-bottom: 10px; /* Add margin between buttons */
}

.list-view {
  margin-top: 20px; /* Adjust margin as needed */
}

.mat-list {
  width: 100%; /* Occupy full width */
}

.mat-list-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.mat-list-avatar {
  min-width: 40px;
  min-height: 40px;
  margin-right: 15px;
  background-color: var(--primary-color); /* Use primary color as the avatar background */
  border-radius: 50%;
}

.mat-line {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-icon-button {
  margin-left: auto;
}

.action-button {
  margin-left: 8px;
}

.apply-button {
  color: #28a745; /* Adjust color for the apply button */
}

.reject-button {
  color: #dc3545; /* Adjust color for the reject button */
}

.vertical-container {
  display: flex;

}
.grant-applications {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: calc(100% - 40px); /* Adjust the width and margins as needed */
  background-color: var(--background-color);
  padding: 20px;
}

.apply-grant {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: calc(100% - 40px); /* Adjust the width and margins as needed */
  background-color: var(--background-color);
  padding: 20px;
}
