root {
    --primary-color: #007BFF;
    --secondary-color: #10da13;
    --background-color: #ccdbf3;
    --form-background-color: #ffffff;
    --text-color: #000;
    --shadow-color: #000;
  }
  
  .toolbar-row {
    display: flex;
    align-items: center;
    position: relative;
    left: 0;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .sidenav {
    background-color: var(--background-color);
    width: 250px;
    position: fixed;
    left: 0;
    top: 70px;
    bottom: 0;
    overflow: auto;
    padding: 20px;
  }
  
  .sidenav-button {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
  }

  /* Main Content */
.main-content {
  margin-left: 250px; /* Set the initial margin for the sidebar width */
  transition: margin-left 0.3s; /* Add transition for smooth animation */
}

.collapsed .main-content {
  margin-left: 70px; /* Adjust the margin when sidebar is collapsed */
}

.horizontal-sections {
  display: flex;
}

.horizontal-section {
  display: flex;
  flex-direction: column;
  width: 300px; /* Adjust the width of each section */
  padding: 20px; /* Add padding for spacing within the sections */
  margin-right: 200px; /* Adjust the margin between sections */
}

.horizontal-section label,
.horizontal-section input,
.horizontal-section select {
  margin-bottom: 10px; /* Adjust the spacing between items */
}

.this {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: calc(100% - 40px); /* Adjust the width and margins as needed */
  background-color: var(--background-color);
  padding: 20px;
}

.next {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: calc(100% - 40px); /* Adjust the width and margins as needed */
  background-color: var(--background-color);
  padding: 20px;
}


  