<mat-toolbar color="primary">
    <mat-toolbar-row class="toolbar-row">
      <img src="assets/images/logo_transparent.png" alt="logo" height="70px" width="70px">
      <span>PawfectMatch</span>
      <span class="spacer"></span>
      <button mat-button class="logout">
        <mat-icon>logout</mat-icon>
      </button>
      <button mat-button class="change-password">
        <mat-icon>vpn_key</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" mode="side" opened>
      <button mat-button class="sidenav-button" [routerLink]="['/home-organization']" aria-label="Home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button class="sidenav-button" [routerLink]="['/add-pet']" aria-label="Add Pet">
        <mat-icon>add</mat-icon>
        <span>Add Pet</span>
      </button>
      <button mat-button class="sidenav-button" [routerLink]="['/adoption-applications']" aria-label="Adoption Applications">
        <mat-icon>pets</mat-icon>
        <span>Adoption Applications</span>
      </button>
      <button mat-button class="sidenav-button" [routerLink]="['/apply-for-grants']" aria-label="Apply for Grants">
        <mat-icon>monetization_on</mat-icon>
        <span>Apply for Grants</span>
      </button>
      <button mat-button class="sidenav-button" [routerLink]="['/find-veterinarians']" aria-label="Find Veterinarians">
        <mat-icon>local_hospital</mat-icon>
        <span>Find Veterinarians</span>
      </button>
      <button mat-button class="sidenav-button" [routerLink]="['/receive-donations']" aria-label="Receive Donations">
        <mat-icon>receipt</mat-icon>
        <span>Receive Donations</span>
      </button>
      <button mat-button class="sidenav-button" [routerLink]="['/request-oversee']" aria-label="Request Oversee">
        <mat-icon>playlist_add_check</mat-icon>
        <span>Request Oversee</span>
      </button>
    </mat-sidenav>
    <div class="form-container">
      <p class="title"> Register Your Pet</p>
    <form [formGroup]="petForm" (ngSubmit)="onSubmit()">
      <div class="form-sections">
        <div class="left-section">
          <mat-form-field>
            <input matInput placeholder="Pet Name" formControlName="petName">
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Pet Size" formControlName="petSize">
              <mat-option *ngFor="let size of petSizes" [value]="size">{{size}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Pet Color" formControlName="petColor">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Pet Age</mat-label>
            <input matInput type="number" min="0" max="20" formControlName="petAge">
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Pet Type" formControlName="petType">
              <mat-option *ngFor="let type of petTypes" [value]="type">{{type}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Pet Breed" formControlName="petBreed">
              <mat-option *ngFor="let breed of petBreeds" [value]="breed.breedId">
                {{ breed.breedName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="right-section">
          <p class="breed-instruction">If your pet breed does not exist, create it:</p>
          <mat-form-field>
            <input matInput placeholder="New Breed Name" formControlName="newBreed">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Playfulness</mat-label>
            <input matInput type="number" min="1" max="10" formControlName="playfulness">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Intelligence</mat-label>
            <input matInput type="number" min="1" max="10" formControlName="intelligence">
          </mat-form-field>
        </div>
      </div>
      <div class="bottom-section">
      <div class="file-input">
        <mat-label>Pet Image</mat-label>
        <input type="file" placeholder="Pet Image" formControlName="petImage">
      </div>
      <!-- add  a submit button >-->
      <button mat-raised-button color="primary" type="submit">Register My Pet</button>
    </div>
    </form>
    </div>
    
  </mat-sidenav-container>
  <router-outlet></router-outlet>
  
