<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar-row">
    <img src="assets/images/logo_transparent.png" alt="logo" height="70px" width="70px">
    <span>PawfectMatch</span>
    <span class="spacer"></span>
    <button mat-button class="logout">
      <mat-icon>logout</mat-icon>
    </button>
    <button mat-button class="change-password">
      <mat-icon>vpn_key</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" opened>
    <!-- Your existing sidenav buttons -->
  </mat-sidenav>

  <div class="content-container">
    <div class="agreements">
      <h2>Agreements with Veterinarians</h2>
      <div *ngFor="let agreement of agreements" class="agreement-card">
        <div class="info-section">
          <p>{{ agreement.aoId }} - {{ agreement.vetId }}</p>
          <button mat-icon-button (click)="showAgreementDetails(agreement)">
            <mat-icon>info</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="new-agreement">
      <h2>Make New Agreements</h2>
      <form (submit)="makeNewAgreement()">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Organization Name:</mat-label>
            <input matInput type="text" [(ngModel)]="newAgreement.aoId" name="organizationName" required>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Veterinarian Name:</mat-label>
            <input matInput type="text" [(ngModel)]="newAgreement.vetId" name="veterinarianName" required>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Agreement Date:</mat-label>
            <input matInput type="date" [(ngModel)]="newAgreement.agreqDate" name="agreementDate" required>
          </mat-form-field>
        </div>

        <button type="submit" mat-button color="primary">Apply</button>
      </form>
    </div>
  </div>
</mat-sidenav-container>
<router-outlet></router-outlet>
