<p>
  <mat-toolbar color = "primary" >
    <img src="assets/images/logo_transparent.png" alt="logo" height="70px" width="70px">
    <span>PawfectMatch</span>
  </mat-toolbar>
</p>
<div class="form-container">
  <h1>Ready to Make Pets' Lives Better</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class = "form-group">
      <div>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username">
      </mat-form-field>
      </div>
      <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>
      </div>
      <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      </div>
      <div>
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput type="tel" formControlName="phone">
      </mat-form-field>
      </div>
    </div>
    <div class = "form-group">
      <div>
      <mat-form-field>
        <mat-label>Street</mat-label>
        <input matInput type="text" formControlName="street">
      </mat-form-field>
      </div>
      <div>
      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput type="text" formControlName="city">
      </mat-form-field>
      </div>
      <div>
      <mat-form-field>
        <mat-label>Country</mat-label>
        <input matInput type="text" formControlName="country">
      </mat-form-field>
      </div>
      <div>
      <mat-form-field>
        <mat-label>State</mat-label>
        <input matInput type="text" formControlName="state">
      </mat-form-field>
      </div>
    </div>
  </form>
  <div>
      <label>Choose which one you are: </label>
      <mat-radio-group>
        <mat-radio-button value="Adoption Organization">Adoption Organization</mat-radio-button>
        <mat-radio-button value="Veterinarian">Veterinarian</mat-radio-button>
      </mat-radio-group>
    </div>
  <div>
    <button mat-raised-button color="primary" (click)="onSubmit()">Register</button>
  </div>
  <div>
    <button mat-raised-button color="warn" routerLink="/register">Return to Register Page</button>
  </div>

</div>
