<h1 mat-dialog-title>Expert Application Details</h1>
<div mat-dialog-content>
  <p><strong>Application ID:</strong> {{ expertApplication.adopterId }}</p>
  <p><strong>Title:</strong> {{ expertApplication.expertiseFieldName }}</p>
  <p><strong>Type:</strong> {{ expertApplication.expertiseFieldId }}</p>
  <p><strong>User ID:</strong> {{ expertApplication.adopterId }}</p>
  <p><strong>Status:</strong> {{ expertApplication.eappStatus }}</p>
  <p><strong>Motivation:</strong> {{ expertApplication.emotivationText }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="closeDialog()">Close</button>
</div>
