.adoption-dialog {
  display: flex;
  flex-direction: column;
  margin: 20px; /* Adjust as needed */
  overflow-y: auto;
  max-height: 60vh;
}

.dialog-title {
  text-align: center;
  margin-bottom: 20px; /* Adjust as needed */
  color: #3f51b5;
}

.upper-half {
  display: flex;
  justify-content: space-between;
}

.pet-info {
  display: flex;
  flex-direction: row;
}

.pet-info img {
  max-width: 50%;
  max-height: 400px;
  height: auto;
  float: left;
}

.info {
  margin-left: 20px;
  color: #3f51b5;
}

.lower-half {
  margin-top: 20px;
}

.file-input {
  color: #3f51b5; /* Color similar to the Register Pet button */
  margin-bottom: 20px; /* Add margin */
}

.full-width {
  width: 100%;
  height: 400px;
}
