<div class="mat-elevation-z8">
  <h1> Reservations Made </h1>
  <table mat-table [dataSource]="dataSource" class="full-width-table">
    <!-- Reservation Date Column -->
    <ng-container matColumnDef="rvDate">
      <th mat-header-cell *matHeaderCellDef> Reservation Date </th>
      <td mat-cell *matCellDef="let reservation"> {{reservation.rvDate}} </td>
    </ng-container>

    <!-- Reservation Status Column -->
    <ng-container matColumnDef="rvStatus">
      <th mat-header-cell *matHeaderCellDef> Reservation Status </th>
      <td mat-cell *matCellDef="let reservation"> {{reservation.rvStatus}} </td>
    </ng-container>

    <!-- Reservation Response Date Column -->
    <ng-container matColumnDef="rvResponseDate">
      <th mat-header-cell *matHeaderCellDef> Response Date </th>
      <td mat-cell *matCellDef="let reservation"> {{reservation.rvResponseDate}} </td>
    </ng-container>

    <!-- Earliest Slot Date Column -->
    <ng-container matColumnDef="earliestSlotDate">
      <th mat-header-cell *matHeaderCellDef> Earliest Slot Date </th>
      <td mat-cell *matCellDef="let reservation"> {{getEarliestSlotDate(reservation.slots)}} </td>
    </ng-container>

    <!-- Latest Slot Date Column -->
    <ng-container matColumnDef="latestSlotDate">
      <th mat-header-cell *matHeaderCellDef> Latest Slot Date </th>
      <td mat-cell *matCellDef="let reservation"> {{getLatestSlotDate(reservation.slots)}} </td>
    </ng-container>

    <!-- Number of Slots Column -->
    <ng-container matColumnDef="numSlots">
      <th mat-header-cell *matHeaderCellDef> Number of Slots </th>
      <td mat-cell *matCellDef="let reservation"> {{reservation.slots.length}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator pageSize="10" showFirstLastButtons></mat-paginator>
</div>
