<form [formGroup]="form">
  <h1>Contribute by Donating</h1>
  <mat-form-field>
  <mat-label>Amount (₺)</mat-label>
  <input matInput type="number" min="100" max="10000" formControlName="amount">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Donate To</mat-label>
    <mat-select formControlName="organization">
      <mat-option *ngFor="let organization of organizations" [value]="organization">
        {{organization}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Donate</button>
</form>
